{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h3>Change your password</h3>

<div class="container">
    <form method="post" style="max-width: 500px; margin: auto;">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    
    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Please correct the following errors:</strong>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock content %}
